@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
body{
    background-color: black;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
.button:hover{
    background-color: aqua;
}

.button{
  width: 76px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 500px;
  font-size: 20px;
    margin: 0;
    padding: 15px 0px;
    border: 2px solid black;
    border-radius: 5px;
}